html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 1336px;
}

.landing-header {
    background: url('../images/manarola_bg.jpg');
    opacity: 0.9;
    background-attachment: scroll;
    background-size: 100% 100%;
    background-position: right center;
    background-repeat: no-repeat;
    color: white;
}

.header-logo {
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    width: 80%;
}

.header-container {
    height: 100vh;
    display: table;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.intro-text {
    vertical-align: middle;
    display: table-cell;
    width: 90%;
    position: relative;
}

.header-text {
    display: table-cell;
    width: 96%;
    position: absolute;
    top: 20px;
    left: 4%;
    font-size: 2.8em;
    text-shadow: 1px 1px 2px black;
    text-transform: none;
}

.intro-heading {
    margin-bottom: 25px;
    text-transform: none;
    font-family: "Open Sans";
    font-size: 40px;
    text-align: left;
    float: right;
}

.skill-block-left {
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
    /*margin-left: 50%;*/
    float: left;
}

.skill-block-right {
    box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.2);
    /*margin-right: 50%;*/
    float: right;
}

.skill-block-left.first-block .skill-header {
    background-color: #7bc57c;
}

.skill-block-right.first-block .skill-header {
    background-color: #eca3a1;
}

.skill-block-left.second-block .skill-header {
    background-color: #84b1e8;
}

.skill-block-right.second-block .skill-header {
    background-color: #f4f5ac;
}

.skill-block-left.third-block .skill-header {
    background-color: #fdd9fa;
}

.skill-block-right.third-block .skill-header {
    background-color: #bdafe8;
}

.skill-block.in-viewport {
    transition: .8s cubic-bezier(0.82, 0.21, 0.58, 1);
    opacity: 1;
    width: 100%;
}
/*
.skill-block-left.in-viewport {
    margin-left: 0%;
}

.skill-block-right.in-viewport {
    margin-right: 0%;
}
*/

.skill-block {
    display: inline-block;
    position: relative;
    border-radius: 30px;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0px);
    width: 100%;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: .3s;
    background-color: white;
}

.bg-skills {
    width:100%;
    background: url('../images/skills_background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.inner-skills {
    position: relative;
    width: 100%;
    height: 770px;
}

.landing-container {
    
}

.animated-text {
    opacity: 0;
    visibility: hidden;
}

.animated-text.in-viewport {
    transition: 1s;
    opacity: 1;
    visibility: visible;
}

.skill-header {
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 15px;
    margin-top: -1px;
    width: calc(100% + 2px);
    margin-left: -1px;
    font-family: "Open Sans";
    font-size: 20px;
}

.skills-heading {
    color: white !important;
}

.skill-header-text {
    font-weight: bold;
    opacity: 0;
}

.skill-header-text.in-viewport {
    opacity: 1;
    -webkit-transition: .6s ease-in-out;
     -webkit-transition-delay: .3s;
    transition: .6s ease-in-out;
    transition-delay: .3s;
}

.skill-text {
    position: relative;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    opacity: 0;
    font-family: "GothamPro", sans-serif;
    font-size: 20px;
}

.skill-block.in-viewport .skill-text {
    opacity: 1;
    -webkit-transition: .6s ease-in-out;
     -webkit-transition-delay: .3s;
    transition: .6s ease-in-out;
    transition-delay: .3s;
}

.about {
    font-size: 16px;
}

.about-items {
    list-style: none;
}

.about-items li {
    margin-top: 10px;
}

.about-items li:before {
    content: "";
    display: inline-block;
    font-weight: bold;
    margin-right: 4px;
    width: 18px;
    height: 18px;
    background-image: url('../images/ico/done.png');
    background-size: 100% 100%;
}


.premium {
    
}

.about-goodluck {
    font-family: Arial Black, Gadget, sans-serif;
    font-size: 20px;
}

.pt16y {
    font-family: "Open Sans";
    font-size: 16px;
    color: #000;
    width: 200px;
    margin: 50px;
}

.inner {
    text-align: left;
    padding: 0 5px;
    background-color: #f9f9f9;
    width: 305px;
    border: 2px solid rgba(0, 0, 0, .1);
}

.woman-bg {
    margin-top: -21px;
    margin-bottom: -30px;
    background-image: url(../images/tumbs_up.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 312px;
}

.section-heading {
    margin: 40px 0 40px 0;
}

footer {
    background-color: #a8c3cc;
    padding: 15px;
}

.next{
    bottom: 20px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

footer a, footer a:hover, footer a:focus {
    font-size: 20px;
    color: black;
    text-decoration: none;
    outline: none;
}

.next img {
    height: 4%;
    width: 4%;
    max-height: 45px;
    max-width: 45px;
    opacity: 0.6;
}

.next img:hover {
    opacity: 0.85;
}

.about-container {
    position: relative;
    height: 870px;
}

.stages-container {
    position: relative;
    padding: 40px 5px 20px 5px;
}

.icon-culture {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url('../images/ico/culture_icon_sprite.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    margin-right: 80px;
    margin-left: 80px;
}

.icon-fun {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url('../images/ico/fun_icon_sprite.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    margin-right: 80px;
}

.icon-brainstorm {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url('../images/ico/language_hacking_icon_sprite.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    margin-right: 80px;
}

.icon-missions {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url('../images/ico/language_missions_icon_sprite.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    margin-right: 80px;
}

.icon-stories {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url('../images/ico/success_stories_icon_sprite.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    margin-right: 80px;
}

.icon-culture:before, .icon-fun:before, .icon-brainstorm:before, .icon-missions:before {
    content: "";
    position: absolute;
    background-color: #f9c814;
    width: 88px;
    height: 10px;
    top: 45px;
    left: 98px;
}

.home, .signin, .signup {
    position: fixed;
    right: 0;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 0px 12px 0px 16px;
    border-radius: 50px 0 0 50px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 9999999;
    width: 30px;
    text-align: center;
    transition: 1s;
}

.home {
    top: 100px;
}

.signin {
    top: 200px;
}

.signup {
    top: 300px;
}

.home:hover, .signin:hover, .signup:hover {
    opacity: 0.8;
    transition: 1s;
}

.home:hover {
    width: 130px;
}

.signin:hover {
    width: 110px;
}

.signup:hover {
    width: 266px;
}

.home:hover a, .signin:hover a, .signup:hover a {
    opacity: 1;
    transition: 1s;
}

.home a, .signin a, .signup a{
    position: relative;
    display: block;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    text-decoration: none;
    color: white;
    opacity: 0;
    transition: 1s;
}

.home a:hover, .home a:focus, .signin a:focus, .signup a:focus, .signin a:hover, .signup a:hover{
    text-decoration: none;
    color: white;
}

.page-screen {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999999;
    background-color: white;
}

.page-screen img {
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -180px;
   margin-left: -300px;
}

.skills-dictionary {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    background: url('../images/ico/skills_dictionary.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 15px;
}

.skills-training {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    background: url('../images/ico/skills_training.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 15px;
}

.skills-rules {
    position: relative;
    display: block;
    width: 160px;
    height: 70px;
    background: url('../images/ico/skills_rules.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.skills-tests {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    background: url('../images/ico/skills_tests.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.contact {
    position: relative;
    width: 100%;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact-header {
    font-family: Montserrat;
    text-align: center;
    margin: 30px 0;
}

.contact-container {
    background: url('../images/contact_book.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    padding: 20px 64px 20px 64px;
    font-family: Raleway;
    min-width: 750px;
}

.contact-text {
    font-style: italic;
    font-size: 1.78em;
    word-break: break-all;
}

.contact-form {
    font-style: italic;
    font-size: 1.4em;
}

.contact-email {
    outline: none;
    text-decoration: none;
    background: transparent;
    border: none;
    border-bottom: 2px dashed black;
    color: black;
    padding: 5px;
    width: 100%;
    margin-bottom: 27px;
}

.contact-submit {
    margin-left: 150px;
    background: transparent;
    text-align: center;
    border: 0;
}

.contact-submit:focus {
    outline: none;
}

.contact-comment {
    max-height: 300px;
    max-width: 300px;
    min-width: 300px;
    resize: none;
    outline: none;
    text-decoration: none;
    background: transparent;
    border: none;
    color: black;
    overflow: hidden;
}

.contact-comment[placeholder], .contact-email[placeholder] {
    color: black;
}

.contact-comment::-moz-placeholder, .contact-email::-moz-placeholder {
    color: black;
}

.contact-comment::-webkit-input-placeholder, .contact-email::-webkit-input-placeholder {
    color: black;
}

.contact-comment:-moz-placeholder, .contact-email:-moz-placeholder{
    color: black;
}

.contact-comment:-ms-input-placeholder, .contact-email:-ms-input-placeholder {
    color: black;
}

.contact-another {
    
}

.contact-another-container {
    margin-bottom: 80px;
}

.contact-another-container .row {
    margin-bottom: 15px;
}

.contact-another-container img {
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    border: none;
    float: left;
}

.contact-another-container a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 36px;
    line-height: 86px;
    margin-left: 15px;
}

.contact-another-container a:hover, .contact-another-container a:focus {
    outline: none;
    color: black;
}

.contact-another-header {
    font-family: Montserrat;
    text-align: center;
    margin: 30px 0;
}

