/*<editor-fold defaultstate="collapsed" desc="Main">*/
html, body {
    height: 100%;
}

a {
    outline: none !important;
}

.wrap a:focus {
    outline: none !important;
}

.wrap {
    background-image: url(../images/flag_italy_bg.jpg);
    background-size: 100%;
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    min-width: 1336px;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.4);
}

.vhidden {
    visibility: hidden;
}

div.main {
    display: block;
    position: relative;
    background-color: whitesmoke;
    min-height: 800px;
}

div.content {
    display: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 1400px;
    height: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.errorMessage {
    font-size: 12px;
    color: red;
    margin-top: 2px;
    text-align: center;
}

.hidden {
    display: none;
}

.gray {
    background-color: #E4E4E4;
}

.yellow-row {
    background-color: #FFFF8A;
}

.red-row {
    background-color: #FF7373;
}

.cursorTooltip {
    max-width: 150px;
    background-color: #f9f9f9;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
}

.cursorTooltip:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #9a9a9a transparent;
    border-width: 0px 7px 7px;
    top: -8px;
    left: 8px;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb38 {
    margin-bottom: 38px !important;
}

.mb45 {
    margin-bottom: 45px !important;
}

.mb47 {
    margin-bottom: 47px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt80 {
    margin-top: 80px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.pt20 {
    padding-top: 20px;
}

.top-zIndex {
    z-index: 1001 !important;
}

.exclamation_point {
    background: url(../images/exclamation_point.png) no-repeat;
    background-size: cover;
    float: left;
    width: 10px;
    height: 40px;
    margin: 0 20px 0 8px;
}

.example_word {
    font-weight: bold;
    margin-right: 5px;
}

.new-row {
    text-indent: 20px;
}

#wowslider-container1 {
    width: auto !important;
    max-width: 1500px !important;
}

.mobile {
    display: none;
}

.bottomToTop {
    transform:rotate(270deg);
}

@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.3;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.3;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.3;
    }
}

@-webkit-keyframes fadeOutFromNone {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOutFromNone {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOutFromNone {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOutFromNone {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}

#wowslider-container1 .ws_images img{
    width:100%;
    height:600px;
    border:none 0;
    max-width: none;
}

.popover {
    min-width: 200px; /* Max Width of the popover (depending on the container!) */
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Header">*/
.header {
    position: relative;
    background-color: #272727;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid black;
    box-shadow: inset -1px -1px 3px 0px #171717;
}

.header-brand {
    font-size: 1.3em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: 1px;
    display: inline-block;
    color: white;
    padding: 5px 10px 0 0;
}

.header ul {
    display: inline-block;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header ul li {
    font-size: 1.1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: inline-block;
    padding: 0 2px 0 2px;
}

.header ul li:hover {
    cursor: pointer;
    background-color: whitesmoke;
    box-shadow: 1px -3px 2px 1px #0a0a0a;
}

.header ul li a{
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
    height: 62px;
    line-height: 62px;
}

.header ul li:hover a {
    color: black;
}

.brand {
    position: relative;
}

.header-brand-text {
    padding-left: 64px;
    display: inline-block;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Header-profile">*/

.header-profile {
    position: absolute;
    color: white;
    height: 60px;
    width: 450px;
    right: 0;
    top: 0;
}

.header-progress, .header-avatar, .header-name {
    float: left;
    height: 100%;
}

.header-progress {
    padding-top: 20px;
    width: 300px;
}

.header-progress .profile-level {
    float: left;
    padding-left: 6px;
    width: 30%;
    text-align: right;
    padding-right: 5px;
}

.header-progress .profile-experience {
    float: left;
    margin-top: 2px;
    width: 69%;
    background-color: #52525a;
    height: 15px;
    overflow: hidden;
}

.header-progress .profile-experience-progress{
    height: 18px;
    background-color: #399440;
    width: 0%;
}

.header-progress .profile-experience-show{
    position: absolute;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 11px;
    top: 22px;
    right: 170px;
    height: 18px;
}

.header-avatar {
    width: 50px;
}

a.avatar {
    position: relative;
    margin-top: 10px;
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px 8px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #ccc6ba;
}

div.avatar img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.header-name {
    width: 100px;
}

.username {
    margin: 20px 0 0 5px;
}

.profile-popup:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #f4f4f4 transparent;
    border-width: 0 12px 12px;
    top: -8px;
    right: 17px;
}

.profile-popup {
    position : absolute;
    z-index: 10001;
    width: 350px;
    top: 60px;
    left: 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    background-color: black;
    opacity: 0;
    visibility: hidden;
}

.profile-popup_visible .profile-popup {
    visibility: visible !important;
    opacity: 1 !important;
}

.profile-popup-user_info {
    position: relative;
    padding: 35px 20px 24px 128px;
    border-bottom: 1px solid #e9e9e9;
    background-color: #f4f4f4;
}

.profile-popup-menu_info {
    
}

.profile-popup-user-avatar {
    position: absolute;
    cursor: pointer;
    left: 32px;
    top: 32px;
    height: 80px;
    width: 80px;
    border-radius: 80px;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #ccc;
}

.profile-popup-user-content {
    
}

.user-content-name {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 3px;
    color: #333!important;
    text-decoration: none!important;
    transition: all .15s ease;
}

.user-content-name:hover {
    cursor: pointer;
    color: #639B54!important;
}

.user-content-email {
    font-size: 14px;
    margin-bottom: 17px;
    color: #999;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Profile">*/
.profile {
}

.profile-inner {
    background-color: #fdfdfd;
}

.profile-language_settings {
    padding-right: 15px;
    float: right;
}

.profile-language {
    position: relative;
    display: inline-block;
    height: 20px;
    margin: 10px 10px 0 0;
    padding-left: 25px;
}

.icon-flag {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 5px;
}

.language-en {
    background-image: url(../images/ico/ico-flags.jpg);
    background-position: -136px -10px;
}

.language-it {
    background-image: url(../images/ico/ico-flags.jpg);
    background-position: -64px -10px;
}

.language-ru {
    background-image: url(../images/ico/ico-flags.jpg);
    background-position: -100px -10px;
}

.profile-content {
    
}

.user-short_info {
    display: inline-block;
    float: left;
    margin-top: 20px;
    background-color: #fdfdfd;
    box-shadow: 0 0 6px 2px #9a9a9a;
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    border-radius: 0 15px 15px 0;
}

.user-short_info_name {
    display: block;
    padding: 20px 50px 0 40px;
    font-size: 1.7em;
    color: #333;
}

.user-short_info_email {
    display: block;
    padding: 0 50px 10px 40px;
    color: #999;
    font-size: 1.2em;
}

.user-short_info_avatar {
    margin: 0 50px 30px 40px;
    max-width: 200px;
    max-height: 300px;
    overflow: hidden;
}

.avatar-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center;
}

.user-full_info {
    width: 68%;
    display: inline-block;
    margin-left: 30px;
    background-color: #fdfdfd;
}

.profile-achievementes {
    margin-top: 50px;
}

.profile h3 {
    font-weight: 400;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.achievement {
    margin-bottom: 30px;
    float: left;
    clear: both;
}

.achievement-date {
    color: grey;
    float: left;
    clear: both;
    font-size: 12px;
    margin-bottom: 10px;
}

.achievement-info {
    position: relative;
    float: left;
    clear: both;
    margin: 0 7px 0 -4px;
    padding: 4px 10px;
    color: #333;
    border-radius: 3px;
    background: #F4F1E8;
    box-shadow: 0 1px #DBD8D0;
}

.user-info {
    font-size: 16px;
}

.user-info-progress, .user-info-country, .user-info-town, .user-info-sex {
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0 2px 0;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Flash">*/

.flash-message {
    width: 155px;
    position: fixed;
    bottom: 30px;
    right: 15%;
}

.flash-gained-level {
    opacity: 0;
    transition: 0.3s cubic-bezier(0.61,-1.95, 0.26, 2.31);
    height: 55px;
    width: 155px;
    position: fixed;
    bottom: 30px;
    right: 15%;
    margin-top: 15px;
    background-image: url(../images/flash_bg.png);
    background-size: cover;
    box-shadow: 5px 5px 10px 1px #d2d2d2;
    overflow: hidden;
}

.flash-gained-experience {
    opacity: 0;
    transition: 0.3s cubic-bezier(0.61,-1.95, 0.26, 2.31);
    height: 55px;
    width: 155px;
    position: fixed;
    bottom: 30px;
    right: 15%;
    background-image: url(../images/flash_bg.png);
    background-size: cover;
    box-shadow: 5px 5px 10px 1px #d2d2d2;
    overflow: hidden;
}

.flash-gain-exp-img {
    top: 3px;
    left: 3px;
    position: absolute;
    height: 87px;
    width: 90px;
    background: url(../images/ico/flash_gain_exp.png) no-repeat;
}

.flash-gain-level-img {
    top: 5px;
    left: 9px;
    position: absolute;
    height: 46px;
    width: 83px;
    background: url(../images/ico/flash_level_up.png) no-repeat;
    background-size: contain;
}

.flash-gained-level .flash-level-show {
    opacity: 0;
    transition: 0.2s ease-in-out;
    margin-left: 63px;
    color: #e8e8e8;
    text-shadow: 1px 1px #4c4c4c;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    margin-top: 17px;
}

.flash-gained-experience .flash-experience-show {
    opacity: 0;
    transition: 0.2s ease-in-out;
    margin-left: 55px;
    color: #e8e8e8;
    text-shadow: 1px 1px #4c4c4c;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    margin-top: 17px;
}

.flash-gained-level-display {
    opacity: 1;
    right: 18%;
    transition: 0.5s cubic-bezier(0.79,-0.32, 0.26, 2.31);
}

.flash-gained-level-display .flash-level-show  {
    opacity: 1;
    /*right: 18%;*/
    transition: 0.5s cubic-bezier(0.79,-0.32, 0.26, 2.31);
}

.flash-gained-experience-display {
    opacity: 1;
    right: 18%;
    transition: 0.5s cubic-bezier(0.79,-0.32, 0.26, 2.31);
}
.flash-gained-experience-level-up {
    bottom: 100px;
    transition: 0.5s cubic-bezier(0.79,-0.32, 0.26, 2.31);
}

.flash-gained-experience-display .flash-experience-show {
    opacity: 1;
    transition: 1s linear;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Icons">*/
.icon {
    
}

.icon-brand {
    position: absolute;
    top: -13px;
    display: inline-block;
    background-image: url(../images/brand_wolf_white.png);
    background-size: cover;
    height: 52px;
    width: 62px;
}

.icon-alphabet {
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    float: left;
    margin: 10px 0 0 15px;
    background-image: url(../images/ico/icon-alphabet.png);
    background-size: cover;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Login">*/
.login-content {
    margin: 0 auto;
    width: 80%;
}

.emailLogin {
    width: 100%;
    padding: 10px 0 10px 15px;
    font-size: 16px;
    outline: none;
    border: none;
}

.passwordLogin {
    width: 100%;
    padding: 10px 0 10px 15px;
    font-size: 16px;
    outline: none;
    border: none;
}

.submitLogin {
    background-color: #6abd5b !important;
    box-shadow: inset 0px 0px 11px 1px #189809;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 22px;
    margin-top: 25px;
}

.submitLogin:hover {
    background-color: #7ad26f !important;
    box-shadow: inset 0px 0px 11px 1px #66e657;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 22px;
    margin-top: 25px;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Index">*/
.items {
    padding: 0 70px;
}

.index-item {
    position: relative;
    cursor: pointer;
    background-color: #fbfbfb;
    border: 1px solid rgba(160, 160, 160, 0.1);
    box-shadow: 0 2px 1px rgba(0,0,0,.2);
    height: 140px;
    width: 100%;
}

.index-item-add-word {
    top: 10px;
    position: absolute;
    background-color: #fbfbfb;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    height: 442px;
    width: 95%;
}

.index-item .row {
    margin: 0;
}

.icon-new-word-div {
    width: 100%;
}

i.icons {
    position: absolute;
    top: 28px;
    left: 0%;
    display: inline-block;
}

i.icon-study {
    height: 87px;
    width: 90px;
    background: url(../images/ico/icon-study.png) no-repeat;
}

i.icon-repeat {
    height: 92px;
    width: 92px;
    background: url(../images/ico/icon-repeat.png) no-repeat;
}

i.icon-new-word {
    position: relative;
    top: 15px;
    left: 0;
    height: 89px;
    width: 89px;
    background: url(../images/ico/icon-new-word.png) no-repeat;
}

.index-item-info {
    position: absolute;
    top: 9px;
}

.index-item-detailed-info {
    position: absolute;
    font-size: 16px;
    padding: 10px 10px 0 10px;
    background-color: #fbfbfb;
    top: -200px;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
}

.index-item-title {
    position: absolute;
    left: 10%;
    top: 0px;
}

.index-item-title h3 {
    font-size: 18px !important;
    font-family: "Open Sans",Arial,sans-serif;
}

.index-item-button {
    transition: 0.2s;
    background-image: none !important;
    width: 60%;
    position: absolute;
    top: 100px;
    right: 15%;
    opacity: 0;
}

.index-item-button h3 {
    margin: 0;
}

.index-item:hover .index-item-title {
    transition: 0.4s;
    opacity: 0;
}

.index-item-translate input {
    width: 100%;
}

.index-item-category {
}

.index-item-category select {
    width: 100%;
}

.index-item-detailed-info-hover {
    transition: 0.1s;
    opacity: 0.95;
    top: 0 !important;
    visibility: visible;
}

.index-item-button-hover {
    transition: 0.4s;
    top: 52px;
    opacity: 1;
}

.btn-fill {
    width: 80%;
}

.size-optgroup ul li:nth-child(1) {
    margin-top: 7px;
}

.size-optgroup ul li {
    color: #464242 !important;
    font-size: 15px;
    margin-bottom: 12px;
}

.size-optgroup ul li:nth-child(n+4) {
    font-size: 15px;
    margin-bottom: 11px;
}

.cs-skin-overlay li.size-optgroup ul li span:hover {
    cursor: auto;
    color: #464242 !important;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Training">*/
.training-head {
    height: 80px;
    background: #fff;
    box-shadow: 0 2px #E7E4DB;
    border-radius: 0px 0px 2px 2px;
    position: relative;
}

.training-head-content {
    float: left;
    font-size: 29px;
    padding-left: 55px;
    padding-top: 19px;
}

.training-head-progress {
    font-size: 16px;
    margin-left: 255px;
    padding-top: 30px;
}

.training-progress-bar {
    overflow: hidden;
    position: relative;
    background-color: #e6e1e1;
    width: 250px;
    height: 20px;
    float: left;
}

.training-current-progress-bar {
    position: absolute;
    bottom: 0;
    background-color: #84bb7e;
    width: 0%;
    height: 20px;
}

.training-progress-number {
    padding-left: 5px;
    float: left;
}

.training-timer {
    margin: 5px 0 0 15px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #b9b6b6;
    overflow: hidden;
}

.training-round {
    position: absolute;
    background:#6495c4;
    width: 15px;
    height: 15px;
    right: 29px;
    top: 0;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 100%;
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
}
.training-timer-text {
    margin: 8px 0 0 26px;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.training-head-title {
}

.training-inner {
    width: 800px;
    margin: 40px auto 0;
}

.training-inner-bg {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.training-content {
    min-height: 405px;
    padding: 10px;
    position: relative;
}

.training-word {
    margin: 50px 0 0 85px;
    font-size: 30px;
}

.training-translate-list {
    margin: 50px 0 0 10px;
    width: 348px;
}

.training-translate-list ul {
    list-style: none;
}

.training-translate-list ul li {
    clear: both;
}

.training-translate-list ul li.last {
    margin-top: 25px;
}

.training-translate-list ul li.last a.btn-blue {
    border-color: #4085BD #4085BD #2C5F88;
    border-bottom-width: 2px;
    background: #62A4D9;
    background: -webkit-linear-gradient(top,#62A4D9,#3D81B9);
    background: -moz-linear-gradient(top,#62A4D9,#3D81B9);
    background: -o-linear-gradient(top,#62A4D9,#3D81B9);
    background: -ms-linear-gradient(top,#62A4D9,#3D81B9);
    background: linear-gradient(top,#62A4D9,#3D81B9);
    box-shadow: 0 1px #91BFE4 inset,1px 0 #6BA5D4 inset,-1px 0 #6BA5D4 inset,0 -1px #5995C6 inset;
}

.training-translate-list ul li.last a.next {
    font-weight: 400;
    cursor: pointer!important;
    margin-top: 2px;
}

.training-translate-list ul li.last a.next b {
    color: #fff;
    text-shadow: 0 -1px #325386;
}

.training-translate-list ul li a {
    margin: 0 13px 12px 0;
    text-align: left;
    line-height: 1;
    padding: 9px;
    height: auto;
    width: 250px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px !important;
    border-color: #DDD #DDD #AAA;
    background: #F5F5F5;
    background: -webkit-linear-gradient(top,#F5F5F5,#E7E7E7);
    background: -moz-linear-gradient(top,#F5F5F5,#E7E7E7);
    background: -o-linear-gradient(top,#F5F5F5,#E7E7E7);
    background: -ms-linear-gradient(top,#F5F5F5,#E7E7E7);
    background: linear-gradient(top,#F5F5F5,#E7E7E7);
    box-shadow: 0 1px #FFF inset,1px 0 #F7F7F7 inset,-1px 0 #F7F7F7 inset,0 -1px #F1F1F1 inset,0 1px #E6E6E6;
}

.training-translate-list ul li a:hover {
    background: #F0F6FA;
    background: -webkit-linear-gradient(top,#FEFEFF,#F1F6FB 50%,#E7F0F7);
    background: -moz-linear-gradient(top,#FEFEFF,#F1F6FB 50%,#E7F0F7);
    background: -o-linear-gradient(top,#FEFEFF,#F1F6FB 50%,#E7F0F7);
    background: -ms-linear-gradient(top,#FEFEFF,#F1F6FB 50%,#E7F0F7);
    background: linear-gradient(top,#FEFEFF,#F1F6FB 50%,#E7F0F7);
    border-color: #93B8D3 #8EB4CF #94BAD5;
    color: #044E8C;
    box-shadow: 0 1px #fff inset,0 -1px #fff inset,-1px 0 #fff inset,1px 0 #fff inset,0 1px #95BBD7;
}

.training-translate-list ul li a.answer-success {
    border-color: #276710 #296C0B #296C0C;
    background: #589047;
    background: -webkit-linear-gradient(top,#5F9D4D,#589047 50%,#508142);
    background: -moz-linear-gradient(top,#5F9D4D,#589047 50%,#508142);
    background: -o-linear-gradient(top,#5F9D4D,#589047 50%,#508142);
    background: -ms-linear-gradient(top,#5F9D4D,#589047 50%,#508142);
    background: linear-gradient(top,#5F9D4D,#589047 50%,#508142);
    box-shadow: 0 1px #276710 inset;
    color: #fff !important;
    text-shadow: 0 -1px #33721E;
    cursor: pointer;
}

.training-translate-list ul li a.answer-success b {
    color: #fff !important;
    text-shadow: 0 -1px #33721E;
}

.training-translate-list ul li a.answer-fail {
    border-color: #821700 #831600 #831600;
    background: #B8422A;
    background: -webkit-linear-gradient(top,#C94933,#B74129 50%,#A63A20);
    background: -moz-linear-gradient(top,#C94933,#B74129 50%,#A63A20);
    background: -o-linear-gradient(top,#C94933,#B74129 50%,#A63A20);
    background: -ms-linear-gradient(top,#C94933,#B74129 50%,#A63A20);
    background: linear-gradient(top,#C94933,#B74129 50%,#A63A20);
    box-shadow: 0 1px #821700 inset;
    cursor: pointer;
}

.training-translate-list ul li a.answer-fail b {
    color: #fff !important;
    text-shadow: 0 1px #91220B;
}


.training-translate-list ul li a b {
    color: #333;
    font-size: 15px;
    line-height: 1;
    text-shadow: 0 1px rgba(255,255,255,.5);
}

.training-translate-list ul li span.item-number {
    font-size: 13px;
    color: #999;
    line-height: 35px;
    height: 34px;
    display: block;
}

.iconm-back-link {
    position: absolute;
    top: 30px;
    left: 23px;
    background-position: -80px -20px;
    background-image: url(../images/ico/icons-medium.png);
    width: 20px;
    height: 20px;
}

.training-item-limit {
    display: inline-block;
    position: relative;
    padding: 5px;
    margin-right: 15px;
}

.training-item-limit-text {
    display: inline-block;
    margin-right: 5px;
}

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.training-words-limit-radio {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.training-words-limit-radio + label {
    cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.training-words-limit-radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.training-words-limit-radio:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.training-words-limit-radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.training-words-limit-radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.training-words-limit-radio:checked + label:before {
    background: #9FD468;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.training-words-limit-radio:checked + label:after {
    left: 26px;
}
/* Показываем получение фокуса. */
.training-words-limit-radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

.training-item-limit-info {
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="New word inputs">*/
.form-style-4{
	font-size: 16px;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: black;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	float: left;
	width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=date],
.form-style-4 input[type=datetime],
.form-style-4 input[type=number],
.form-style-4 input[type=search],
.form-style-4 input[type=time],
.form-style-4 input[type=url],
.form-style-4 input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 3px dashed black;
	width: 100%;
	outline: none;
	padding: 0px 0px 0px 0px;
	/*font-style: italic;*/
        font-size: 22px;
}
.form-style-4 textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 3px dashed black;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=date]:focus,
.form-style-4 input[type=datetime]:focus,
.form-style-4 input[type=number]:focus,
.form-style-4 input[type=search]:focus,
.form-style-4 input[type=time]:focus,
.form-style-4 input[type=url]:focus,
.form-style-4 input[type=email]:focus
{
	border-bottom: 3px dashed #a55555;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="New word button Add">*/
.button31 {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 5em;
  height: 5em;
  border-radius: 100%;
  outline: none;
  background: #ddd;
  box-shadow: 0 1px rgba(0,0,0,.1) inset, 0 1px #fff;
  border: 0;
}
.button31:after, .button31:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 2%;
  left: -20%;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 10%;
  margin: auto;
  background: #999;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.button31:before {
  left: 3%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.button31:after {
  left: 3%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.button31:hover, .button31:focus {
  background: #e35d31;
  box-shadow: none;
}
.button31:hover:after, .button31:hover:before {
  background: #fff;
  box-shadow: none;
}
.button31:focus {
  background-image:
   linear-gradient(120deg, transparent 45%, #e35d31 45%, #e35d31 55%, transparent 55%),
   radial-gradient(transparent 20%, #fff 20%, #fff 30%, transparent 30%);
  -webkit-animation: rotate31 1s linear infinite forwards;
  animation: rotate31 1s linear infinite forwards;
}
.button31:focus:after, .button31:focus:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(-30% - 4px/2);
  left: 4px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 4px solid transparent;
  background: transparent;
  box-shadow: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.button31:focus:before {
  top: calc(30% + 4px/2);
  left: -4px;
  border-left: none;
  border-right: 8px solid #fff;
}
@-webkit-keyframes rotate31 {
  100% {-webkit-transform: rotate(360deg);}
}
@keyframes rotate31 {
  100% {transform: rotate(360deg);}
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Dictionary">*/
.dictionary {
    margin: auto;
    width: 80%;
    height: 650px;
    padding-top: 30px;
}

.dictionary-inner {
    background-color: white;
    width: 100%;
    height: 650px;
    border: 1px solid #e4e4e4;
}

.dictionary-categories {
    height: 650px;
    width: 40%;
    border-right: 1px solid #e4e4e4;
    box-shadow: inset -4px -6px 8px 1px rgba(0,0,0,0.1);
    overflow: auto;
}

.dictionary-categories ul {
    font-size: 22px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dictionary-categories ul li {
    cursor: pointer;
    padding: 16px 0 8px 25px;
    border-bottom: 1px solid #e4e4e4;
}

.dictionary-categories ul li:hover {
    background-color: #f3f3f3;
    cursor: pointer;
    padding: 16px 0 8px 25px;
    border-bottom: 1px solid #e4e4e4;
}

.dictionary-words {
    height: 650px;
    width: 60%;
}

.dictionary-words-head {
    padding-top: 14px;
    background-color: #b0b0de;
    text-align: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e4e4e4;
}

.dictionary-words-head h3 {
    margin-top: 0px;
}

.dictionary-words-container {
    overflow-y: auto;
    height: 540px;
    font-family: "Open Sans", Arial, sans-serif;
    width: 100%;
}

.dictionary-words-container .dictionary-item {
    border-bottom: 1px solid #e4e4e4;
    padding: 15px 0 0 15px;
    height: 50px;
    width: 100%;
}

.dictionary-words-container .dictionary-item-word {
    letter-spacing: 1px;
    text-shadow: 1px 1px #e6e6e6;
}

.dictionary-item-word-it, .dictionary-item-word-ru, .dictionary-item-word-hyphen {
    float:left;
}

.dictionary-item-word-it, .dictionary-item-word-ru {
    cursor: pointer;
}

.dictionary-word-input-it, .dictionary-word-input-ru {
    position: relative;
    width: 140px;
    border: none;
    padding: 6px 0 6px 5px;
    margin-top: -4px;
    -webkit-box-shadow: 0px 0px 5px #007eff;
    -moz-box-shadow: 0px 0px 5px #007eff;
    box-shadow: 0px 0px 5px #007eff;
}

.dictionary-item-tools {
    margin-right: 15px;
    float: right;
}

.dictionary-item-category select{
    font-size: 16px;
    width: auto;
    margin-top: -5px;
    padding: 5px 0 5px 5px;
}

.dictionary-category-select{
    font-size: 16px;
    height:30px;
    line-height:30px;
    width: auto;
}

.dictionary-category-select:hover{
    font-size: 16px;
    height:30px;
    line-height:30px;
    width: auto;
    background-color: whitesmoke;
}

.dictionary-tools {
    height: 50px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e4e4e4
}

.dictionary-tool-filter {
    float: left;
    width: 240px;
    position: relative;
    padding: 10px 0 0 10px;
}

.dictionary-tool-filter input {
    margin: 0;
    padding: 0 30px 0 20px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px #e0e0e0;
    border: none;
    background-color: white;
    height: 30px;
    outline: none;
}

.dictionary-tool-filter span.icon {
    display: inline-block;
    width: 29px;
    height: 29px;
    background-image: url(/images/ico/icons_normal.png);
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    right: 10px;
}

.dictionary-tool-filter span.icon.search {
    background-position: 0 -274px;
}

.dictionary-footer {
    
}

.selected-items-tools {
    padding: 10px 0 0 0;
    height: 40px;
    float: left;
    width: 50px;
    position: relative;
    display: block;
}

.custom-items-tools {
    padding: 10px 0 0 0;
    height: 40px;
    float: left;
    width: 50px;
    position: relative;
    display: block;
}

.cleanCustomCategory {
    display: block;
    cursor: pointer;
    font-size: 1.8em !important;
    margin-top: 3px;
}

.addToCustomCategory {
    display: block;
    cursor: pointer;
    font-size: 1.8em !important;
    margin-top: 5px;
}

.dictionary-item-select {
    float: left;
    margin-right: 5px !important;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Constructor">*/
.constructor-head {
    height: 80px;
    background: #fff;
    box-shadow: 0 2px #E7E4DB;
    border-radius: 0px 0px 2px 2px;
    position: relative;
}

.constructor-head-content {
    float: left;
    font-size: 29px;
    padding-left: 55px;
    padding-top: 19px;
}

.constructor-head-progress {
    font-size: 16px;
    margin-left: 255px;
    padding-top: 30px;
}

.constructor-progress-bar {
    overflow: hidden;
    position: relative;
    background-color: #e6e1e1;
    width: 250px;
    height: 20px;
    float: left;
}

.constructor-current-progress-bar {
    position: absolute;
    bottom: 0;
    background-color: #84bb7e;
    width: 0%;
    height: 20px;
}

.constructor-progress-number {
    padding-left: 5px;
    float: left;
}

.constructor-timer {
    margin: 5px 0 0 15px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #b9b6b6;
    overflow: hidden;
}

.constructor-round {
    position: absolute;
    background:#6495c4;
    width: 15px;
    height: 15px;
    right: 29px;
    top: 0;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 100%;
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
}
.constructor-timer-text {
    margin: 8px 0 0 26px;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.constructor-head-title {
}

.constructor-inner {
    width: 800px;
    margin: 40px auto 0;
}

.constructor-inner-bg {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.constructor-content {
    min-height: 405px;
    padding: 10px;
    position: relative;
}

.constructor-word {
    margin: 50px 0 0 85px;
    font-size: 30px;
}

.constructor-content {
}

.constructor-content-head {
    margin: 30px 0 25px 0;
    font-size: 28px !important;
    text-align: center;
}

.constructor-content-head h3 {
    font-size: 32px !important;
}

.constructor-letter {
    display: inline-block;
    width: auto;
    min-width: 35px;
    height: 35px;
    background-color: #F6F6F6;
    border: 1px solid;
    border-color: #aaa #ccc #ccc #aaa;
    margin: 12px 2px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    padding: 0 5px;
    line-height: 31px;
    overflow: hidden;
    text-shadow: none;
    vertical-align: middle;
    cursor: auto;
    text-decoration: none;
    border-radius: 3px
}

.puzzleInput {
    background: #F6F6F6;
    border: 0;
    float: left;
    font-size: 30px;
    height: 28px;
    margin: 0;
    padding: 3px 0 0;
    width: 3px;
}

.constructor-letters-answer, .constructor-letters-container {
    text-align: center;
}

.constructor-letters-container .constructor-letter {
    border-color: transparent transparent #1d77aa;
    background: #59baf1;
    cursor: pointer;
    border-width: 0 0 1px;
}

.constructor-correct-letter {
    border-color: transparent transparent #176100;
    background: #adf98a;
    color: #1a6608;
}

.constructor-wrong-letter {
    border-color: transparent transparent #690000 !important;
    background: #da1616 !important;
    transition: 0.2s;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Rules Menu">*/
.rules-menu {
    float: left;
    width: 16%;
}

.rules-menu ul {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    text-decoration: none;
    list-style: none;
}

.rules-menu ul li {
    cursor: pointer;
    text-align: center;
    //border-right: 1px solid #c7c7c7;
    //border-bottom: 1px solid #c7c7c7;
    transition: 1s;
}

.rules-menu ul li:hover a {
    color: #9a3131;
    height: 70px;
    line-height: 70px;
    font-size: 1.5em;
    transition: 1s;
    //color: #072ade;
    text-decoration: none;
}

.rules-menu ul li:hover{
    //background-color: #eee6ff;
}

.rules-menu ul li.active {
    //background-color: whitesmoke;
    border-bottom: 1px solid black;
    box-shadow: inset 35px 0px 120px -70px grey;
    border-right: 0;
}

.rules-menu ul li.active:nth-child(n+2) {
    border-top: 1px solid black;
}

.rules-menu ul li.active a {
    color: #9a3131;
    height: 70px;
    line-height: 70px;
    font-size: 1.5em;
}

.rules-menu ul li a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    color: #9a3131;
    transition: 1s;
}

.rules-menu ul li a:hover {
}

.rules-menu ul li a span {
    float: left;
    padding-left: 20px;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Alphabet">*/
.alphabet {
    position: relative;
    display: block;
    margin-left: 7%;
    margin-right: 4%;
    width: 90%;
    font-size: 16px;
}

.alphabet-item {
    margin-top: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 2px 2px 4px 2px #c1c1c1;
}

.alphabet-item-inner {
    margin: 15px;
}

.alphabet-letter {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.alphabet-transcription {
    font-size: 14px;
    color: gray;
    float: right;
}

.alphabet-image {
    margin-bottom: 5px;
    text-align: center;
}

.alphabet-image img {
    width: 100%;
    max-width: 230px;
    height: 125px;
    background-size: 100%;
    border-radius: 5px;
}

.alphabet-translate {
    display: inline-block;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    font-size: 18px;
}

.other-letters {
    margin: 25px 0 35px 15px;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Nouns">*/
.nouns {
    position: relative;
    display: block;
    margin-left: 7%;
    margin-right: 4%;
    width: 90%;
    font-size: 16px;
}

.nouns-inner {
    
}

.nouns-rules {
    text-align: center;
}

.nouns-content {
    margin: 20px 0;
    padding: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 2px 2px 4px 2px #c1c1c1;
}

.nouns-content2 {
    margin: 0 0 20px 0;
    padding: 20px;
    overflow: hidden;
}

.nouns-content2 table {
    width: 100%;
    margin-bottom: 15px;
}

.nouns-content2 table th {
    padding: 5px 5px 5px 10px;
    background: #3c3b3b;
    color: white;
}

.nouns-content2 table td {
    border: 1px solid #a2a2a2;
    vertical-align: top;
    padding: 5px;
}

.nouns-example {
    position: relative;
    background: #90f385;
    min-height: 56px !important;
    margin: 8px 0 20px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset -5px -5px 30px 3px rgba(50, 50, 50, 0.1);
    vertical-align: middle;
}

.nouns-except {
    position: relative;
    background: #ff9d9d;
    min-height: 56px !important;
    margin: 8px 0 20px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset -5px -5px 30px 3px rgba(150, 150, 150, 0.2);
    vertical-align: middle;
}

.example-text {
    padding: 10px 0;
}

.nouns-start-test {
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    
}

.start-test {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #567aca;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 220px;
    line-height: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.start-test:hover, .start-test:focus  {
    text-decoration: none;
    color: #e0dfdf;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Test">*/
.test {
    background-color: #5a8cf9;
}

.test-inner {
    position: relative;
    height: 800px;
    width: 100%;
}

.test-back {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 30px;
}

.test-back a {
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    color: #3670ef;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.test-back a:hover, .test-back a:focus {
    text-decoration: none;
    color: #185ffb;
}

.test-content {
    position: absolute;
    margin-top: 10%;
    width: 100%;
    height: 82%;
}
.test-question {
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
}

.test-answers {
    margin: 35px auto;
    color: #e6e6e6;
    font-size: 26px;
    /*text-align: center;*/
    /*background-color: black;*/
    /*width: 600px;*/
    width: 400px;
}

.test-answers ol {
}

.test-answers ol li{
    position: relative;
    padding: 8px 0 8px 5px;
}

.test-answers ol li span{
    position: absolute;
    left: 0;
    font-size: 30px;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.test-answers ol li span:hover{
    color: white;
}

.test-answer {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: white;
    opacity: 0;
    visibility: hidden;
    margin: 0 auto;
}

.test-variant {
    float: left;
    background: #fff;
    color: #000;
    font-size: 30px;
    line-height: 70px;
    cursor: pointer;
    opacity: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    visibility: visible;
    width: 200px;
    height: 100px;
}

.test-variant:hover {
    background: #e0edfd;
}

/*.variant {
    position: absolute;
    min-width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}*/

.variant {
    position: relative;
}

.variant-mistake {
    color: rgba(255, 255, 255, 0.7);
}

.variant-mistake:before {
    position: absolute;
    width: 100%;
    content: "";
    left: -3px;
    top: 50%;
    border-top: 2px solid rgba(255, 0, 0, 0.4);
    border-radius: 4px;
    z-index: 1;
}

.test-footer {
    position: absolute;
    left: 90%;
    top: 0;
    width: 10%;
    height: 100%;
}

.test-footer-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.test-status-bar {
    position: absolute;
    left: 50%;
    top: 10%;
    //background-color: black;
    width: 20px;
    height: 90%;
}

.test-task-status {
    position: relative;
    width: 22px;
    height: 22px;
    background-color: #3d3ab7;
    border-radius: 100%;
    margin-bottom: 10px;
}

.test-task-status i {
    width: 0px;
    height: 0px;
    left: 10px;
    top: 10px;
}

.test-task-status i.correct {
    position: absolute;
    transition: .5s linear;
    left: 3px;
    top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #22b473;
}
.test-task-status i.wrong {
    position: absolute;
    transition: .5s linear;
    left: 3px;
    top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #d80000;
}


.test-task-status:after {
    //content: '';
    //background-color: #3d3ab7;
    //position: absolute;
    //top: 18px;
    //left: 9px;
    //height: 14px;
    //width: 4px;
}

.test-task-status:last-child:after {
    content: '';
    display: none;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Result">*/
.result {
    cursor: default;
    display: none;
    margin: 0 auto;
    padding-top: 5px;
    width: 80%;
    min-height: 450px;
}

.result-inner {
    position: relative;
    min-height: 450px;
    height: 100%;
    font-size: 1.4em;
    border-radius: 15px;
    border: 1px solid rgba(160, 160, 160, 0.4);
    margin-top: 30px;
    background-color: white;
}

.result-progress-header {
    width: 100%;
    text-align: center;
}

.result-words{
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.result-progress {
    position: absolute;
    top: 0;
    left: 45%;
    display: inline-block;
    width: 55%;
    height: 100%;
    border-left: 1px solid rgba(160, 160, 160, 0.4);
}

.result-words {
    width: 45%;
    padding: 15px 15px 30px 15px;
}

.result-words-container {
    height: 100%;
}

.result-words-mistakes {
    
}

.result-words-mistakes-title h4 {
    font-size: 1.7em;
    color: #d80000;
}

.result-words-mistakes-container {
    border-bottom: 1px solid grey;
    padding-bottom: 18px;
}

.result-mistake {
    padding-bottom: 13px;
}

.result-words-correct {
}

.result-words-correct-title h4 {
    font-size: 1.7em;
    color: #01b701;
}

.result-words-correct-container {
    padding-bottom: 18px;
}

.result-correct {
    padding-bottom: 13px;
}

.result-progress-footer {
    text-align: center;
    margin-top: 25px;
}

.result-progress-footer button {
    width: 280px;
    padding: 8px 0;
    margin-bottom: 15px;
    background-color: #e6e3e3;
    border-radius: 5px;
    border: 0;
    outline: none;
}

.result-progress-footer button a {
    text-decoration: none;
    padding: 8px 22px;
    color: black;
    width: 280px;
}

.result-progress-footer button:hover {
    background-color: #d0d0d0;
}

.result-progress-container {
    width: 100%;
    margin-bottom: 20px;
}

.stats-progress {
    position: relative;
    height: 210px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.svg-stats-progress {
    webkit-transition: stroke-dasharray .7s linear;
    transition: stroke-dasharray .7s linear;
}

.number-stats {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    font-size: 30px;
}

.number-stats-progress {
    
}

.continue {
    background: #85c375 !important;
}

.continue:hover {
    background: #73b562 !important;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Test Result">*/
.test-result {
    cursor: default;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    width: 80%;
    min-height: 450px;
}

.test-result-inner {
    position: relative;
    min-height: 450px;
    height: 100%;
    font-size: 1.4em;
    margin-top: 30px;
    background-color: white;
}

.test-result-progress-header {
    width: 100%;
    text-align: center;
}

.test-result-progress {
    position: relative;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
}

.test-result-progress-footer {
    text-align: center;
    margin-top: 25px;
}

.test-result-progress-footer button {
    width: 320px;
    padding: 8px 0;
    margin-bottom: 15px;
    background-color: #e6e3e3;
    border: 0;
    outline: none;
}

.test-result-progress-footer button a {
    text-decoration: none;
    padding: 8px 22px;
    color: black;
    width: 320px;
}

.test-result-progress-footer button:hover {
    background-color: #d0d0d0;
}

.test-result-progress-container {
    width: 100%;
    margin-bottom: 20px;
}

.test-stats-progress {
    position: relative;
    height: 210px;
    width: 100%;
    text-align: center;
    margin-top: 
}

.test-svg-stats-progress {
    webkit-transition: stroke-dasharray .7s linear;
    transition: stroke-dasharray .7s linear;
}

.test-number-stats {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    font-size: 30px;
}

.test-number-stats-progress {
    
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Patchnote">*/
.patchnote {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    display: block;
    width: 70%;
    height: 90%;
}

.patchnote-inner {
    border-radius: 40px;
    border: 1px solid rgba(100,100,100,0.2);
    width: 100%;
    height: 100%;
    background-color: white;
}

.patchnote-header {
    text-align: center;
    border-bottom: 1px solid rgba(100,100,100,0.2);
    margin-bottom: 20px;
}

.patchnote-content{
    margin-right: 10px;
}

.patchnote-content div {
    font-weight: bold;
    margin-top: 35px;
    font-size: 17px;
    margin-bottom: 10px;
}

.patchnote-content ul {
    text-decoration: none;
    list-style: none;
}

.patchnote-content ul li {
    margin-bottom: 5px;
}

.patchnote-content ul li.plus:before {
    content: "+";
    font-weight: bold;
    margin-right: 4px;
}

.patchnote-content ul li.minus:before {
    content: "-";
    font-weight: bold;
    margin-right: 4px;
}

.patchnote-content ul li.fix:before {
    content: "🔎";
    font-weight: bold;
    margin-right: 4px;
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="100-768">*/
@media screen and (min-width: 100px) and (max-width: 768px) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    a {
        outline: none !important;
    }

    .wrap a:focus {
        outline: none !important;
    }

    .wrap {
        background-image: url(../images/flag_italy_bg.jpg) no-repeat;
        background-size: 100% 100%;
        margin: 0 auto;
        padding: 0;
        height: auto;
        width: 100%;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        min-width: 0;
    }
    
    div.main {
        display: block;
        position: relative;
        background-color: whitesmoke;
        height: auto;
        min-height: 0;
    }

    div.content {
        display: relative;
        width: 100%;
        height: auto;
        max-width: 100%;
        margin: 0;
        padding: 0%;
    }
    
    .header {
        display: none;
    }
    
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .hamburger{
        background:none;
        position:absolute;
        top:0;
        right:0;
        line-height:45px;
        padding:0px 15px 0px 15px;
        color:#fff;
        border:0;
        font-size:1.4em;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
    }
    .cross{
        background:none;
        position:absolute;
        top:0px;
        right:0;
        padding:0px 15px 0px 15px;
        color:#fff;
        border:0;
        font-size: 1.6em;
        line-height: 47px;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
    }
    
    .no-mobile {
        display: none;
    }
    
    .mobile {
        display: block;
    }
    
    .header-mobile {
	width: 100%; 
	background: #1d1f20; 
	height: 50px; 
	line-height: 50px;
    }

    .header-progress {
        padding-top: 0;
        width: 80%;
    }
    
    .header-progress .profile-level {
        float: left;
        padding-left: 6px;
        width: 15%;
        text-align: right;
        padding-right: 5px;
    }
    
    .header-progress .profile-experience {
        float: right;
        margin-top: 17px;
        width: 85%;
        background-color: #52525a;
        height: 15px;
        overflow: hidden;
    }

    .header-profile {
        height: 50px;
        width: 90%;
        left: 0;
        top: 0;
    }
    
    a.avatar {
        margin: 6px 8px;
    }
        
    .header-progress .profile-experience-show {
        position: absolute;
        text-shadow: 1px 1px black;
        font-weight: bold;
        font-size: 11px;
        top: 0;
        right: 90px;
        height: 18px;
    }
    
    .menu-mobile {
        display: none;
        z-index: 1000000; 
        font-weight: bold; 
        font-size: 0.8em; 
        width: 100%; 
        background: #131313; 
        position: absolute; 
        text-align: center;
    }
    .menu-mobile ul { 
        margin: 0; 
        padding: 0; 
        list-style-type: none; 
        list-style-image: none;
    }
    
    .menu-mobile li { 
        display: block; 
        padding: 15px 0 15px 0; 
        border-bottom: #1d1f20 1px solid;
    }
    
    .menu-mobile li:hover{ 
        display: block;
        background: #181818; 
        padding: 15px 0 15px 0; 
        border-bottom: #1d1f20 1px solid;
    }
    
    .menu-mobile ul li a { 
        font-size: 14px; 
        text-decoration: none; 
        margin: 0px; 
        color:#fff;
    }
    
    .menu-mobile ul li a:hover { 
        color: #fff; 
        text-decoration: none;
    }
    
    .menu-mobile a{ 
        text-decoration: none; 
        color: white;
    }
    
    .menu-mobile a:hover{ 
        text-decoration: none; 
        color: white;
    }
    
    .glyphicon-home{
        color: white; 
        font-size: 1.5em; 
        margin-top: 5px; 
        margin: 0 auto;
    }
    
    .patchnote {
        padding: 10px 0;
        width: 90%;
        height: 90%;
    }
    
    .patchnote-header h2 {
        font-size: 20px;
    }
    
    .training-head-title {
        display: none;
    }
    
    .training-head-progress {
        margin-left: 70px;
    }
    
    .training-inner {
        width: 100%;
    }
    
    .training-word {
        margin: 30px 0 0 15px;
        font-size: 24px;
    }
    
    .training-timer {
        width: auto;
    }
    
    .training-translate-list{
        margin: 10px 0 0 0;
    }
    
    .training-translate-list ul li{
        float: left;
    }
    
    .training .row {
        margin-left: 0;
        margin-right: 0;
    }
    
    .training-timer-text {
        margin: 8px 0 0 21px;
    }
    
    .items {
        padding: 0 5px 15px 0;
    }
    
    .index-item:hover .index-item-title {
        transition: 0.4s;
        opacity: 1;
    }
    
    .training-item-limit-info {
        text-align: center;
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
    }
    
    #wowslider-container1 .ws_images img{
        width:100%;
        height:230px;
        border:none 0;
        max-width: none;
    }

}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Siderbar Menu">*/
.sidebar {
    position: relative;
    display: block;
    letter-spacing: 0.03em;
    background-color: #272727;
    -webkit-box-shadow: inset -10px 0px 8px -3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: inset -10px 0px 8px -3px rgba(50, 50, 50, 0.5);
    box-shadow: inset -10px 0px 8px -3px rgba(50, 50, 50, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25px;
    overflow: hidden;
    z-index: 100001;
    transition: .3s ease-in-out;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar__hover {
    width: 200px;
    transition: .3s cubic-bezier(0.97, 0.02, 0.58, 1);
}

.sidebar .sidebar-menu {
    transition: .2s cubic-bezier(0.97, 0.02, 0.58, 1);
    opacity: 0;
}

.sidebar__hover .sidebar-menu {
    transition: .5s cubic-bezier(0.97, 0.02, 0.58, 1);
    opacity: 1;
}

.sidebar-menu {
    list-style: none;
    opacity: 0;
    padding: 0;
}

.sidebar-menu li {
    text-align: center;
    border-bottom: 1px solid #191919;
}

.sidebar-menu li.active span {
    background-color: rgba(255, 255, 255, 0.29);
    padding: 3px 8px;
    border-radius: 20px;
    color: #fdfdfd;
}

.sidebar-menu li a{
    position: relative;
    display: block;
    width: 100%;
    padding: 0 10px 0 10px;
    line-height: 50px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.sidebar-menu li a:hover{
    background-color: #313131;
}

.sidebar__close {
    position: absolute;
    top: 100px;
    left: -6px;
    color: white;
    opacity: 1;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition-delay: .3s;
    -o-transition: .1s ease-in-out;
    -o-transition-delay: .3s;
    -moz-transition: .1s ease-in-out;
    -moz-transition-delay: .3s;
    transition: .1s ease-in-out;
    transition-delay: .3s;
}

.sidebar__hover .sidebar__close {
    color: white;
    opacity: 0;
    transition: .1s ease-in-out;
}

.sidebar__close {
    position: absolute;
    opacity: 0.7;
    top: 50px;
    left: 0;
    width: 24px;
    height: 30px;
    background: url(../images/side_bar_menu_hover_cursor.png) no-repeat;
}
/*</editor-fold>*/

.select2-selection {
    border-radius: 5px !important;
    border: none !important;
    height: 40px !important;
    line-height: 40px;
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.select2-selection__arrow > b {
    border: 0 !important;
    width: 16px !important;
    height: 7px !important;
    background-image: url(/images/ico/icons_arrows_blue.png);
    background-repeat: no-repeat;
    background-position: 0 -2px;
}

.select2-selection__arrow {
    top: 6px !important;
    right: 20px !important;
}
