.hidden_tab {
    visibility: hidden;
    display: none;
}

.auth {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 340px;
    margin-left: -170px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}

.auth_login {
    height: 286px;
    margin-top: -143px;
}

.auth_registration {
    height: 454px;
    margin-top: -227px;
}

.auth_login, .auth_registration {
    transition: .4s ease-out;
}

.auth_inner {
    padding: 15px 10px 10px 10px;
}

.auth_title {
    text-align: center;
    margin-bottom: 30px;
}

.change_form {
    position: relative;
    width: 100%;
    height: 30px;
    background: rgba(100, 100, 100, 0.3);
}

.form_login_button {
    float: left;
}

.form_registration_button {
    float: right;
}

.form_login_button.form_selected {
    background: #7e7eec;
}

.form_registration_button.form_selected {
    background: #ea7373;
}

.form_login_button, .form_registration_button {
    width: 50%;
    height: 100%;
    color: white;
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;  
    transition: .3s;  
}

.login_email {
    
}

.login_password {
    
}

.login_submit, .registration_submit {
    font-size: 18px;
    width: 100%;
    outline: none;
    text-decoration: none;
    padding: 5px 0;
    border: none;
    background: #70ec70;
}

.login_submit:hover, .registration_submit:hover {
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
}

.help-block {
    height: 4px;
    font-size: 11px;
}

input[type=radio] {
    display:none; 
    margin:10px;
}

input[type=radio], label {
    margin:-2px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
}

label input[type=radio]:checked:parent { 
    background-image: none;
    background-color:#d0d0d0;
}   